.todo-item {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
}
.action{
    display: flex;
    flex-direction: row;
    color: darkcyan;
}